@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ais-SearchBox-form {
  position: relative;
  width: 100%;
}
.ais-SearchBox-submitIcon {
  position: absolute;
  right: 2rem;
  height: 0.9rem;
  width: 0.9rem;
  top: 20px;
}

.ais-SearchBox-resetIcon {
  display: none;
}
.ais-SearchBox input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3.5rem;
  padding-left: 2rem;
  font-size: 0.875rem;
  color: #1a202c;
  background-color: rgb(249 250 251);
  border: 1px solid rgb(209 213 219);
  border-radius: 0.5rem;
}

.ais-SearchBox input::placeholder {
  font-size: 13px;
}
@media only screen and (max-width: 350px) {
  .ais-SearchBox input::placeholder {
    font-size: 9px;
  }
}
@media only screen and (max-width: 600px) {
  .ais-SearchBox input {
    padding-right: 2rem;
    padding-left: 1rem;
  }
  .ais-SearchBox-submitIcon {
    right: 0.9rem;
  }
}
.ais-SearchBox input:focus {
  outline: none;
}
.ais-Hits-list {
  margin-top: 10px;
}

.ais-Pagination-list {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.ais-Pagination-link {
  background-color: rgba(128, 128, 128, 0.6);
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
}

.ais-Pagination-link:hover {
  box-shadow: 2px 4px 12px #888888;
}
.ais-Pagination-link--selected {
  background-color: transparent;
  color: #000;
}
.ais-Pagination-item--disabled span {
  display: none;
}

.ais-Stats-text {
  color: #888888;
}
